<div class="container">
  <div class="row">
    <div clas="col-md-12">
      <h1>Active Learning</h1>
    </div>
    <div class="col-md-12">
      This is just some test stuff
    </div>
  </div>
</div>
