<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Topics</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        Take a look at how you've been doing.
      </p>
    </div>
  </div>

  <div class="row">
    <h4>Study Sets</h4>

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th># Tested</th>
        <th>Correctness</th>
        <th>Last Tested</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>English Vocab Set I</td>
        <td>2</td>
        <td>43.3%</td>
        <td>08/12/2014</td>
      </tr>

      <tr>
        <td>Korean Vocab Set I</td>
        <td>8</td>
        <td>89%</td>
        <td>Yesterday</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
